<!DOCTYPE html>
<html>
    <body>
        <main>
            <h2>Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><strong>Image</strong></th>
                        <th scope="col"><strong>name</strong></th>
                        <th scope="col" colspan = "1"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <!--投稿したuserの画像が設定される-->
                            <td><%= user.name %></td>
                            <td><%= link_to "Show", user_path(user.id) %></td>
                        <tr>
                    <% end %>
                </tbody>
            </table>
        </main>
    </body>
</html>
    