<!DOCTYPE html>
<html>
    <body>
        <main>
            <h1>Books</h1>
            <table>
                <% if @books.present? %>
                    <thead>
                        <tr>
                            <th colspan = "1"></th>
                            <th>Title</th>
                            <th>Opinion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @books.each do |book| %>
                            <tr>
                                <!--投稿したuserの画像が設定される-->
                                <td><%= book.title %></td>
                                <td><%= book.body %></td>
                            <tr>
                        <% end %>
                    </tbody>
                <% end %>
            </table>
        </main>
    </body>
</html>
    