<!DOCTYPE html>
<html>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <h2 class="mx-auto p-3 bd-highlight">Welcome to<i class="fa-solid fa-book"></i><strong>Bookers!</strong></h2>
                </div>
            </div>
        </main>
    </body>
</html>
